.dashboard-container {
	margin-left: 150px;
	display: flex;
}

.spaceship-table {
	margin-right: 50px;
	background-color: white;
	margin-bottom: 30px;
}

.booking-table {
	margin-right: 50px;
	background-color: white;
}

td {
  padding-left: 9px;
  padding-right: 9px;
}

th {
  padding-left: 9px;
  padding-right: 9px;
}