<!-- <div class="banner" style="background-image: url(<%= image_path 'banner2.jpg' %>);"> -->
<div class="main-container">
	<div class="video-container">
		<div class="video">
			<%= video_tag(
				'space.mp4',
				id: 'background',
				autoplay: true,
				logo: true,
				muted: true,
				loop: true,
				)
				%>
			</div>
			<div class="banner-content">
				<h1>AerospaceBnb</h1>
				<p>Find your next spaceship with warp speed!</p>
				<form method="post" id= "form1" action="<%= spaceships_search_path %>">
					<input class="search-form" name="search_term" type="text">
					<input type='hidden'>
					<button type="submit" class="btn btn-info">Search</button>
				</form>
				<p class="text-center">
					<%= link_to "See all Spaceships for rent", spaceships_path, class: "btn btn-primary" %>
				</p>
			</div>
		</div>
	</div>
<!-- </div>


