<!-- <div class="banner" style="background-image: url( image_path banner2.jpg );#> -->


<div class="main-container">
	<div class="video-container">
		<div class="video">
			
			<%= video_tag(
				'space.mp4',
				id: 'video-background',
				width: 1900,
				autoplay: true,
				muted: true,
				loop: true,
				)
				%>
			</div>
			<div class="banner-content">
				<h1>AerospaceBnb</h1>
				<p>Find your next spaceship in warp speed!</p>
				<div>
					
				</div>
				<form method="post" id= "form1" action="<%= spaceships_search_path %>">
					<input class="search-form" name="search_term" type="text">
					<input type='hidden'>
					<button type="submit" class="btn btn-info">Search</button>
				</form>
				<p class="text-center">
					<%= link_to "See all Spaceships for rent", spaceships_path, class: "btn btn-primary", id: "btn-all" %>
				</p>
			</div>
		</div>
	</div>
</div>

<div style="width: 1000px">
	<img src="truck.png" id="truck" style="margin-left: -100px" />
</div>

  <%= image_tag "spacewalks.png", id: "myImage" %>


<script>
	var animate, left=0, imgObj=null;
	function init(){
		imgObj = document.getElementById('myImage');
		imgObj.style.position= 'absolute';
		imgObj.style.top = '500px';
		imgObj.style.left = '-800px';
		imgObj.style.visibility='hidden';
		moveRight();
	}
	function moveRight(){
		left = parseInt(imgObj.style.left, 10);
		if (10 >= left) {
			imgObj.style.left = (left + 5) + 'px';
			imgObj.style.visibility='visible';
        animate = setTimeout(function(){moveRight();},20); // call moveRight in 20msec
        //stopanimate = setTimeout(moveRight,20);
    } else {
    	stop();
    }
    //f();
}
function stop(){
	clearTimeout(animate);
}
window.onload = function() {init();};
</script>