.footer {
  background: $brand-primary;
  padding: 0px;
  margin-bottom: 0px;
  height: 40px;
  padding: 10px 10px; 
  margin-top: 10px;
  height: 50px;
}
.footer a {
  font-size: 20px;
  color: $brand-info;
}
.footer a:hover {
  opacity: 0.5;
}

.list-inline {
  margin-bottom: 0px;
}
